body{
  background-image: url(img.png);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  
}

a{
  text-decoration: none;
  color: #313451;
  margin-top: 30p;
  text-align: center;
  font-size: 15px;
  border-left: 3px solid black;
  border-right: 3px solid black;
  padding: 10px;
  border-radius: 10px;
  /* background: #42445A; */
  padding-right: 15px;
  border-top: 4px solid #0026E4;
  border-bottom: 4px solid #0026E4;
}
span{
  margin-left:0px;
  color: #000000;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  
}

i{
  font-size: 30px;
  margin-top: 10px;
  color: #000000;
  
}
div{
  
  
  margin-top: 100px;
  padding: 10px;
  display: inline-flex;
  
  width:100%;
  overflow: hidden;
  overflow-x: scroll;
  hei
  
  
}
/* a:hover i{
  background: #FF0900;
}
a:hover span{
  background: #FF0900;
} */
div:hover a{
  background: #FF0900;
  
}
.well{
  text-align: center;
 
  position: center;
}

h3:hover a{
  background: #FF0900;
  color: #fff;
}
