*{
  margin: 0 0 0 0;
  padding:0;
  box-sizing: border-box;
}
header{
  background: #000000;
  text-align: center;
  padding: 20px 0;
  font-family: fantasy;
  text-shadow: 2px 2px 2px #FF0000;
  color: #fff;
  font-size: 150%;

}
/*
nav{
  background: #71733E;
  padding: 1px;
  text-align: center;
  margin-top: 5px;
}
nav ul li{
  display: inline-block;
  margin: 0 20px;
  
}
li a{
  text-decoration: none;
}
.one{
  text-align: center;
  background: #8B2364;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 30px;
  margin-top: 5px;
}
.a{
  background: #000000;
  color: #FFF;
  padding: 0 4px;
  border-radius: 2px;
  text-decoration: none;
  
}
.ok{
  background: #2697D5;
  padding: 5px 20px;
  margin-top: 5px;
  flex-basis: 50%;
  margin-right: px;
}
.two{
  display: flex;
}
aside{
  background: #9EA33A;
  flex-basis: 50%;
  text-align: center;
  margin-left: px;
  margin-top: 5px;
}
aside ul li a{
  text-decoration: none;
}
aside ul{
  list-style-type: none;
}
footer{
  background: #C98513;
  text-align: center;
  padding: 15px;
  margin-top: 5px;
}

iframe{
  height: 200px;
} */
.pass{
  justify-content: center;
  align-items: center;
  display:inline-block;
  height: 100vh;
  width: 100%;
  background-image: url("megh.png");
  background-repeat: none;
  padding: 0 30%;
  padding-top: 30vh ;
}
.img{
  margin-top: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}
img{
  width: 90%;
  height: 50%;
  border-radius: 10%;
  box-shadow: 0 0 20em #6F43FF;
  border: 1px solid #6FA7FF;
}
.exp{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
  color: #FFFFFF;
  font-family: fantasy;
  font-weight: 500;
  
}
.short_note{
  margin-left: 10%;
  width: 80%;
  border: 1px solid #FFFFFF;
  margin-top: 1%;
}
.enter{
  width: 50%;
  margin-top: 10%;
  margin-left:25%;
  text-align: center;
  padding: 1% 0;
  background: #3FFF00;
  font-size: 300%;
  font-family: fantasy;
  border-radius: 15px;
  box-shadow: 2px 2px 5px #6579ff;
  border: 2px solid #7F6BEE;
}
.enter p a {
  text-decoration: none;
}

.body1{
  background: #000000;
}