* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

.header1 {
  background: #34334B;
  color: #FFFFFF;
  width: 100%;
  height: 70px;
  text-align: center;
  display: flex;
  justify-content: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-shadow: 2px 2px 2px #FF0000;
  font-size: 150%;
  font-family: fantasy;
  /* align-items: center; */
  border: 2px solid #0000ff;
  border-top: 0;
  border-top: 2px solid #0000ff;
  padding: 30px 0 0 0;
}
.main {
  display: inline;
  justify-content: center;
  width: 100%;
  height: 100vh;
  margin: 50px;
}

.parent {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 97%;
  margin: 0 3%;
  
}

.child {
  margin: 2vh 3%;
  background: #000000;
  width: 44%;
  height: 25vh;
  max-height: 150px;
  /* text-align: center; */
  font-size: 150%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: 500;
  border-radius: 50%;
  font-family: fantasy;
  border-top: 3px currentColor #1D00FF;
  border-bottom: 3px currentColor #9700FF;
  border-left: 9px groove #FF003F;
  border-right: 9px groove #00FFB1;
  overflow: hidden;
}

a {
  text-decoration: none;
  color: #fff;
}

.child:hover {
  transition: 1s;
  font-size: 35px;
  color: #0000ff;
}

.header {
  display: flex;
  background: #000000;
  border: 2px solid #0004FF;
  position: sticky;
  top: 0;
  overflow: hidden;
  height: 50px;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  
}

.ssc {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0 0 0 0;
  display: flex;
}

.ssc li {
  display: inline-flex;
  margin: 0;
  width: 100%;
  height: 100%;
}

.ssc li a {
  background: #000000;
  width: 100%;
  /* padding: 15% 5%; */
  border-radius: 5%;
  font-weight: 600;
  color: #fff;
  text-align: center;
  margin: 0 0;
  font-size: 100%;
  font-family: fantasy;
  text-transform: uppercase;
  text-shadow: 1px 1px 1px #FF0000;
  border: 1px solid #FF0000;
  justify-content: center;
  align-items: center;
  display: flex;
  
}


/* .ssc li a:hover {
  font-size: 80%;
  color: #fff;
  background: #000000;
} */

.s {
  text-align: center;
  margin: 0%;
  font-family: fantasy;
  color: #fff;
  font-size: 100%;
  /* height: 40px; */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}


.cls {
  justify-content: center;
  align-items: center;
}

.lul li a {
  width: 90%;
  padding: 20px 0;
  /* height: 10vh; */
  background: #550909;
  margin: 2% 5%;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  font-family: fantasy;
  border: 1px solid #4034D1;
  box-shadow: inset 5px 20px 25px #000,
    inset -5px -20px 25px #000;
  border-radius: 4px;
}

/* .cls ul li{
  display: ;
  color: #3C218A;
  
  margin: 15px;
}
.cls ul li a{
  text-decoration: none;
  color: #C11515;
  padding: 10px 20px;
  background: #452D2D;
  margin: 15px;
} */
.body,
.mbody {
  background: #000000;
  font-family: fantasy;
}



.age {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10% 0;
}

.img {
  width: 20%;
  height: 20%;
  border-radius: 50%
}

.sub {
  color: #FFFFFF;
  background: #220213;
  padding: 10px 0;
  font-size: 150%;
  font-family: fantasy;
  text-align: center;
  font-weight: 600;
  letter-spacing: 5px
}